<div class="container-fluid">
  <button mat-raised-button color="primary" (click)="editFlag=false;openSubscriberModal(subscriberModal,false)">
    <i class="material-icons">add</i> Add Subscriber
  </button>

  <hr>
  <p-contextMenu [target]="contextScope" [model]="items" oncontextmenu="return false;"></p-contextMenu>

  <table class="table table-striped table-bordered table-hover table-sm noselect " id="subscribersDT">
    <thead>

    </thead>
    <tbody #contextScope>
      <tr><td>aaa</td><td>aaa</td><td>aaa</td><td>aaa</td><td>aaa</td><td>aaa</td><td>aaa</td><td>aaa</td><td>aaa</td></tr>
    </tbody>
  </table>
</div>



<ng-template #subscriberModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{subscriberModalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form fxLayout="column" [formGroup]="subscriberForm" autocomplete="off">
      <div class="input-row" fxLayout="row">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="Name" formControlName="name" type="text" name="nameInput" autofocus>
          <mat-error> subscriber name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="Phone Number" formControlName="phone" type="text">
          <mat-error> subscriber phone is required</mat-error>
        </mat-form-field>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field class="inputField" fxFlex>
          <input matInput placeholder="Address" formControlName="address" type="text">
          <mat-error> subscriber address is required</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button mat-raised-button name="addButton" color="primary" (click)="addEditSubscriber()" [disabled]="!subscriberForm.valid">{{subscriberModalTitle}}</button>
  </div>
</ng-template>

<div hidden>
  <button id="editSubscriberBtn" (click)="openSubscriberModal(subscriberModal,true)"></button>
  <button id="enableDisableBtn" (click)="enableDisableSub()"></button>
</div>
