.drawerValues{
    text-align: center;
    
}
.summary{
    background-color:#E3E0E0;
    height:45px;
    margin: auto;
    margin-bottom: 15px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
                                   
}

#internetDrawerDT{
    text-align: center;
}

.container-fluid{
    margin-bottom: 25px;
    margin-top: 25px;
    
  }

.drawerBtns button{
    margin: 6px;
}