<p-contextMenu [target]="contextScope" [model]="items" oncontextmenu="return false;"></p-contextMenu>
<div class="container-fluid">

    <table class="table table-striped table-bordered table-hover table-sm noselect " id="accDrawerDT">
        <thead>
        </thead>
        <tbody #contextScope>
        </tbody>
    </table>
</div>
<ng-template #showDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{showDetailsDay}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-striped table-bordered table-hover table-sm noselect " id="detailDay">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      
    </div>
  </ng-template>
  <div hidden>
    <button id="showDetailsBtn" (click)="openShowDetails(showDetails)"></button>
  </div>