<div class="container-fluid">
  <mat-button-toggle-group style="width:100%" value="button1">
    <mat-button-toggle routerLink="mobileDrawer" value="button1" class="drawerBtns" mat-raised-button color="primary"><i
        class="material-icons">network_cell</i>
      Mobile Credit Drawer
    </mat-button-toggle>

    <mat-button-toggle routerLink="accDrawer" class="drawerBtns" mat-raised-button color="primary"><i class="material-icons">apps</i>
      Central And Items Drawer
    </mat-button-toggle>

    <mat-button-toggle routerLink="internet" class="drawerBtns" mat-raised-button color="primary"><i class="material-icons">wifi</i>
      Internet Drawer</mat-button-toggle>

  </mat-button-toggle-group>
  <hr>
  <router-outlet></router-outlet>
</div>