<div class="container-fluid">
  <mat-button-toggle-group style="width:100%" value="button1">
    <mat-button-toggle routerLink="mobileDrawer" value="button1" class="drawerBtns" mat-raised-button color="primary"><i
        class="material-icons">network_cell</i>
      Mobile Credit Drawer
    </mat-button-toggle>

    <mat-button-toggle routerLink="accDrawer" class="drawerBtns" mat-raised-button color="primary"><i class="material-icons">apps</i>
      Central And Items Drawer
    </mat-button-toggle>

    <mat-button-toggle routerLink="internet" class="drawerBtns" mat-raised-button color="primary"><i class="material-icons">wifi</i>
      Internet Drawer</mat-button-toggle>

  </mat-button-toggle-group>
  <hr>
  <div class="drawerBtns">
      <button mat-raised-button color="primary" (click)="openOperationModal(operationModal,'a')">
          <i class="material-icons">attach_money</i> Add
      </button>
      <button mat-raised-button color="warn" (click)="openOperationModal(operationModal,'w')">
          <i class="material-icons">money_off</i> Withdraw
      </button>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #operationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{operationModalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form fxLayout="column" [formGroup]="operationForm" autocomplete="off">
            <div class="input-row" fxLayout="row" class='inputForm'>
                <mat-form-field class="inputField" fxFlex >
                  <mat-select  placeholder="Drawer" formControlName="drawer">
                    <mat-option value="m">Mobile Credit Drawer</mat-option>
                    <mat-option value="a">Central & Items Drawer</mat-option>
                    <mat-option value="s">Internet Drawer</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            <div class="input-row" fxLayout="row" class='inputForm'>
                <mat-form-field class="inputField" fxFlex>
                    <input matInput placeholder="Amount" formControlName="amount" type="number" name="nameInput" autofocus>
                    <mat-error> Amount is required and must be less than debit</mat-error>
                </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" class='inputForm'>
                <mat-form-field class="inputField" fxFlex>
                    <input matInput placeholder="Comment" formControlName="comment" type="text" name="nameInput" >
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-raised-button name="addButton" color="primary" (click)="addNewOperation()" [disabled]="!operationForm.valid">{{operationModalTitle}}</button>
    </div>
</ng-template>